/CapitalTest.class
/DiceTest.class
/PlayerTest.class
/SquareTest.class
/ChanceSquareTest.class
/GoSquareTest.class
/InJailSqaureTest.class
/JailSquareTest.class
/ParkingSquareTest.class
/TaxSquareTest.class
/ChanceSquareControllerTest.class
