/Capital$PropertySquare.class
/Capital.class
/ChanceSquare.class
/Dice.class
/Game.class
/GoSquare.class
/InJailSquare.class
/JailSquare.class
/ParkingSquare.class
/Player.class
/Square.class
/TaxSquare.class
