/CapitalView.class
/ChanceSquareView.class
/DiceView.class
/GoSquareView.class
/InJailSquareView.class
/JailSquareView.class
/ParkingSquareView.class
/PlayerView.class
/PropertySquareView.class
/SquareView.class
/TaxSquareView.class
