/CapitalController.class
/ChanceSquareController.class
/DiceController.class
/GoSquareController.class
/InJailSquareController.class
/JailSquareController.class
/ParkingSquareController.class
/PlayerController.class
/PropertySquareController.class
/SquareController.class
/TaxSquareController.class
/TaxSquareView.class
